.main-header {
  background: url(../images/white-top-bottom.gif) repeat-x;
  height: 45px;
  line-height 45px;
  padding-left: 16px;
}


.container-panel {
  padding: 16px;

  &-box {
    margin-bottom 24px;
  }
}

.search-textfield {
  margin: 5px;
}
